<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.wolfcode.mapper.PermissionMapper" >
  <resultMap id="BaseResultMap" type="cn.wolfcode.domain.Permission" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="expression" property="expression" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    DELETE FROM permission
    WHERE id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deletePermissonRole">
    DELETE FROM role_permission WHERE permission_id = #{permissonId}
  </delete>
  <insert id="insert" parameterType="cn.wolfcode.domain.Permission" keyColumn="id" keyProperty="id" useGeneratedKeys="true">
    INSERT INTO permission (id, name, expression
      )
    VALUES (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{expression,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="cn.wolfcode.domain.Permission" >
    UPDATE permission
    SET name = #{name,jdbcType=VARCHAR},
      expression = #{expression,jdbcType=VARCHAR}
    WHERE id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    SELECT id, name, expression
    FROM permission
    WHERE id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectByRoleId" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    SELECT id, name, expression FROM permission WHERE id IN (SELECT permission_id FROM role_permission WHERE role_id = #{role_id})
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    SELECT id, name, expression
    FROM permission
  </select>
    <select id="queryForCount" resultType="int">
      SELECT count(id) FROM permission
    </select>
  <select id="queryForList" resultType="permission">
    SELECT id, name, expression FROM permission
    LIMIT #{beginIndex}, #{pageSize}
  </select>
  <select id="selectAllExpression" resultType="string">
    SELECT expression FROM permission
  </select>
</mapper>